<nz-table #nzTable [nzData]="data" [nzFrontPagination]="true" [nzPageSize]="5" [nzLoading]="loading">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time From</th>
            <th>Time Until</th>
            <th>Status</th>
            <th>Gym Number</th>
            <th>Delete reservation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.date | date }}</td>
            <td>{{ data.time_from}}</td>
            <td>{{ data.time_until}}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.gym_number }}</td>
            <td>
                <div nz-row nzType="flex" nzJustify="start">
                    <button nz-popconfirm nzPopconfirmTitle="Are you sure?" [nzIcon]="iconTpl" nz-button nzType="danger" class="table-button" (nzOnConfirm)="deleteReservation(data.id, data)">
                            <i nz-icon nzType="delete"></i> Delete
                    </button>
                    <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color:red"></i>
                    </ng-template>
                </div>
            </td>
        </tr>
    </tbody>
    </nz-table>
