<nz-table #nzTable [nzData]="data" [nzFrontPagination]="true" [nzPageSize]="5" [nzLoading]="loading">
    <thead>
        <tr>
            <th>{{txt.gymTable.date}}</th>
            <th>{{txt.gymTable.timeFrom}}</th>
            <th>{{txt.gymTable.timeUntil}}</th>
            <th>{{txt.gymTable.status}}</th>
            <th>{{txt.gymTable.gymNumber}}</th>
            <th>{{txt.gymTable.deleteReservation}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of nzTable.data">
            <td>{{ data.date | date }}</td>
            <td>{{ data.time_from}}</td>
            <td>{{ data.time_until}}</td>
            <td>{{ data.status }}</td>
            <td>{{ data.gym_number }}</td>
            <td>
                <div nz-row nzType="flex" nzJustify="start">
                    <button nz-popconfirm nzPopconfirmTitle="{{txt.gymTable.deleteToolTip}}" [nzIcon]="iconTpl" nz-button nzType="danger" class="table-button" (nzOnConfirm)="deleteReservation(data.id, data)">
                            <i nz-icon nzType="delete"></i>{{txt.common.delete}}
                    </button>
                    <ng-template #iconTpl>
                        <i nz-icon nzType="question-circle-o" style="color:red"></i>
                    </ng-template>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>
