.navbar {
  justify-content: space-between;
}

a {
  padding-right: 1rem;
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightblue;
}

.logo {
  width: 64px;
}

.mat-toolbar {
  position: relative;
}

/*Shadow for navbar*/
.z-depth-1 {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
