<table>
  <tr>
    <th>6.9.2019</th>
    <th>7.9.2019</th>
    <th>8.9.2019</th>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
  <tr>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
    <td><button mat-button>06:00</button></td>
  </tr>
</table>
