<nz-collapse nzAccordion>
  <nz-collapse-panel nzHeader="Aktuálny týždeň" nzActive="true">

    <nz-card class="cardTitle" nzTitle="{{sundayDateTable}} Nedeľa T1">
        <div *ngFor="let element of sundayArray | slice:0:4;">
            <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
              (click)="showConfirm(element)">
              {{element.time_from}} - {{element.time_until}}
            </div>
            <div nz-card-grid  nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
              {{element.time_from}} - {{element.time_until}}
            </div>
          </div>


    </nz-card>
    <br><br>
    <nz-card nzTitle="{{tuesdayDateTable}} Utorok T1">
      <div *ngFor="let element of tuesdayArray | slice:0:4;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid  nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>

    </nz-card>
    <br><br>
    <nz-card nzTitle="{{tuesdayDateTable}} Utorok T2">
      <div *ngFor="let element of tuesdayArray | slice:4:8;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>

    </nz-card>

    <br><br>
    <nz-card nzTitle="{{thursdayDateTable}} Štvrtok T1">
      <div *ngFor="let element of thursdayArray | slice:0:4;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>

    </nz-card>
    <br><br>
    <nz-card nzTitle="{{thursdayDateTable}} Štvrtok T2">
      <div  *ngFor="let element of thursdayArray | slice:4:8;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>

    </nz-card>

  </nz-collapse-panel>


  <nz-collapse-panel nzHeader="Budúci týdeň" nzActive="false">
    <nz-card nzTitle="{{nextSundayDateTable}} Nedeľa T1">
      <div  *ngFor="let element of nextSundayArray | slice:0:4;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>

    </nz-card>
    <br><br>
    <nz-card  nzTitle="{{nextTuesdayDateTable}} Utorok T1">
      <div *ngFor="let element of nextTuesdayArray | slice:0:4;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>
    </nz-card>
    <br><br>
    <nz-card nzTitle="{{nextTuesdayDateTable}} Utorok T2">
      <div *ngFor="let element of nextTuesdayArray | slice:4:8;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>
    </nz-card>

    <br><br>
    <nz-card nzTitle="{{nextThursdayDateTable}} Štvrtok T1">
      <div  *ngFor="let element of nextThursdayArray | slice:0:4;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>
    </nz-card>
    <br><br>
    <nz-card nzTitle="{{nextThursdayDateTable}} Štvrtok T2">
      <div  *ngFor="let element of nextThursdayArray | slice:4:8;">
        <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
          (click)="showConfirm(element)">
          {{element.time_from}} - {{element.time_until}}
        </div>
        <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
          {{element.time_from}} - {{element.time_until}}
        </div>
      </div>
    </nz-card>
  </nz-collapse-panel>

</nz-collapse>