<nz-spin [nzSpinning]="isSpinning">
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="Current week" nzActive="true">
      <nz-card class="cardTitle" nzTitle="{{sundayDateTable}} Sunday T1">
          <div *ngFor="let element of sundayArray | slice:0:4;">
              <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
                (click)="showConfirm(element)">
                {{element.time_from}} - {{element.time_until}}
                <br>
                <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
              </div>
              <div nz-card-grid  nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
                {{element.time_from}} - {{element.time_until}}
                <br>
                <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
              </div>
              <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
                {{element.time_from}} - {{element.time_until}}
                <br>
                <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
              </div>
            </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{tuesdayDateTable}} Tuesday T1">
        <div *ngFor="let element of tuesdayArray | slice:0:4;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{tuesdayDateTable}} Tuesday T2">
        <div *ngFor="let element of tuesdayArray | slice:4:8;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{thursdayDateTable}} Thursday T1">
        <div *ngFor="let element of thursdayArray | slice:0:4;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{thursdayDateTable}} Thursday T2">
        <div  *ngFor="let element of thursdayArray | slice:4:8;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="Next Week" nzActive="false">
      <nz-card nzTitle="{{nextSundayDateTable}} Sunday T1">
        <div  *ngFor="let element of nextSundayArray | slice:0:4;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card  nzTitle="{{nextTuesdayDateTable}} Tuesday T1">
        <div *ngFor="let element of nextTuesdayArray | slice:0:4;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{nextTuesdayDateTable}} Tuesday T2">
        <div *ngFor="let element of nextTuesdayArray | slice:4:8;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{nextThursdayDateTable}} Thursday T1">
        <div  *ngFor="let element of nextThursdayArray | slice:0:4;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>

      <br><br>

      <nz-card nzTitle="{{nextThursdayDateTable}} Thursday T2">
        <div  *ngFor="let element of nextThursdayArray | slice:4:8;">
          <div nz-card-grid nz-tooltip nzTooltipTitle="Free reservation"   *ngIf="element.status=='FREE'" class="free gridStyle"
            (click)="showConfirm(element)">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid nz-tooltip nzTooltipTitle="Reserved reservation"   *ngIf="element.status=='RESERVED'" class="reserved gridStyle">
            {{element.time_from}} - {{element.time_until}}
            <br>
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
          <div nz-card-grid  nz-tooltip nzTooltipTitle="Closed reservation"   *ngIf="element.status=='CLOSED'" class="closed gridStyle" >
            {{element.time_from}} - {{element.time_until}} :
            <span *ngIf="element.user">{{parseUsernameFromEmail(element.user.email)}}</span>
          </div>
        </div>
      </nz-card>
    </nz-collapse-panel>
  </nz-collapse>
</nz-spin>
