.free{
    background-color: #85bb65;
    font-weight: bold;
    font-size: 1.40em;
    height: 100px!important;
}

.reserved{
    background-color: red;
    font-weight: bold;
    font-size: 1.40em;
    cursor: default;
    height: 100px!important;
}

.closed {
    background-color: gray;
    font-weight: bold;
    font-size: 1.40em;
    cursor: default;
    height: 100px!important;
}

.gridStyle{
    width: 25%;
    text-align: center;
}
