<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
    <div><img src="../assets/logo.png" alt="logo" class="logo"></div>
    <ul *ngIf="authority === 'admin'" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="dashboard"></i>
        <span routerLink="/admin/dashboard">Dashboard</span>
      </li>
      <li nz-menu-item nz-tooltip nzPlacement="right" (click)="tokenStorage.signOut()">
        <i nz-icon nzType="logout"></i>
        <span>Logout</span>
      </li>
    </ul>
    <ul *ngIf="!authority" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li routerLink="/login" nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="login"></i>
        <span>Log in</span>
      </li>
      <li routerLink="/signup" nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="user-add"></i>
        <span>Sign Up</span>
      </li>
    </ul>
    <ul *ngIf="authority === 'user'" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li routerLink="/members" nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="dashboard"></i>
        <span>Members</span>
      </li>
      <li routerLink="/user-reservations" nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="dashboard"></i>
        <span>My Reservations</span>
      </li>
      <li nz-menu-item nz-tooltip nzPlacement="right">
        <i nz-icon nzType="logout"></i>
        <span (click)="tokenStorage.signOut()">Logout</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>SRJ9 ©2019 Created by Unkown</nz-footer>
  </nz-layout>
</nz-layout>