<nz-layout>
  <nz-header>
    <span id="logo" routerLink="/"><img src="../assets/logo.png" alt="logo" class="logo"></span>
    <ul *ngIf="!getAuthService.isUserLoggedIn()" nz-menu nzTheme="dark" nzMode="horizontal">
        <li routerLink="/login" nz-menu-item>
            <i nz-icon nzType="login"></i>
            <span>Log in</span>
        </li>
        <li routerLink="/signup" nz-menu-item>
            <i nz-icon nzType="user-add"></i>
            <span>Sign Up</span>
        </li>
  
      </ul>

      <ul *ngIf="getAuthService.isUserLoggedIn()" nz-menu nzTheme="dark" nzMode="horizontal" >
          <li *ngIf="getAuthService.getUserAuthority()" routerLink="/admin/dashboard" nz-menu-item>
              <i nz-icon nzType="dashboard"></i>
              <span>Dashboard</span>
          </li>
          <li routerLink="/gym_reservation" nz-menu-item >
            <i nz-icon nzType="dashboard"></i>
            <span>Create Gym Reservation</span>
          </li>
          <li routerLink="/user-reservations" nz-menu-item >
            <i nz-icon nzType="dashboard"></i>
            <span>My Reservations</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="logout"></i>
            <span (click)="getTokenStorage.signOut()">Logout</span>
          </li>
        </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content"><router-outlet></router-outlet></div>
  </nz-content>
  <nz-footer>SRJ9 ©2019 Created by Jkbjhs</nz-footer>
</nz-layout>
