<div *ngIf="getAuthService.isUserLoggedIn()">
    <app-successfull-login></app-successfull-login>
</div>

<form *ngIf="!getAuthService.isUserLoggedIn()" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="{{txt.errors.logInError}}">
        <nz-input-group nzAddOnAfter="{{txt.logIn.postFixEmail}}" nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="{{txt.logIn.userNamePlaceholder}}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="txt.errors.signUpError!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="{{txt.common.passwordPlaceholder}}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">{{txt.common.logIn}}</button>
        {{txt.logIn.or}}
        <a routerLink="/signup">{{txt.common.register}}</a>
      </nz-form-control>
    </nz-form-item>
  </form>
