<nz-table #nzTable [nzData]="data" [nzFrontPagination]="true" [nzPageSize]="5" [nzLoading]="loading">
<thead>
    <tr>
    <th nzCustomFilter>
        Date
        <i
        nz-th-extra
        class="ant-table-filter-icon"
        nz-icon
        nz-dropdown
        #dropdown="nzDropdown"
        nzType="search"
        [nzDropdownMenu]="menu"
        [class.ant-table-filter-open]="dropdown.nzVisible"
        nzTrigger="click"
        nzPlacement="bottomRight"
        [nzClickHide]="false"
        nzTableFilter
        ></i>
    </th>
    <th>Reservation Number</th>
    <th nzShowFilter [nzFilters]="listOfFilterAddress" (nzFilterChange)="filterAddressChange($event)">User</th>
    <th>Time From</th>
    <th>Time Until</th>
    <th>Status</th>
    <th>Gym Number</th>
    <th>Actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of nzTable.data">
    <td>{{ data.date | date }}</td>
    <td></td>
    <td></td>
<!--    <td>{{ data.reservation_number }}</td>-->
<!--    <td>{{ data.user.name }}</td>-->
    <td>{{ data.time_from}}</td>
    <td>{{ data.time_until}}</td>
    <td>{{ data.status }}</td>
    <td>{{ data.gym_number }}</td>
    <td>
        <div nz-row nzType="flex" nzJustify="start">
            <button *ngIf="data.status === 'FREE'" nz-button nzType="primary" class="table-button" (click)="createComponentModal()">
                <i nz-icon nzType="edit"></i> Edit
            </button>
            <button *ngIf="data.status === 'RESERVED'" nz-button nzType="danger" class="table-button" (click)="deleteReservation(data.id, data)">
                    <i nz-icon nzType="delete"></i> Delete
            </button>
        </div>
    </td>
    </tr>
</tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
<div class="search-box">
    <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
    Search
    </button>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
</div>
</nz-dropdown-menu>
