<nz-spin [nzSpinning]="isLoading">
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">{{txt.signUp.email}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="{{txt.errors.emailFormatError}}">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{txt.common.passwordPlaceholder}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="{{txt.errors.passwordNumberOfCharactersError}}">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
          minlength="6"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>{{txt.signUp.repeatPassword}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{txt.errors.passwordError}}
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            {{txt.errors.passwordAreNotSameError}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button [disabled]="validateForm.invalid" nz-button nzType="primary">{{txt.common.register}}</button>
      </nz-form-control>
    </nz-form-item>
</form>
</nz-spin>
